// === VARIABLES ===

$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;

$cl-white: #fff;
$cl-gray-100: #f7f7f7;
$cl-gray-500: #999;

$cl-correct: #2dbd2d;
$cl-wrong: #dc143c;

// === /VARIABLES ===

// === FONTS ===

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// === /FONTS ===

// === RESET ===

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;

  transition: 0.2s ease;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

// === /RESET ===

// === COMMONS ===

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-sm;
  background-color: $cl-gray-100;
}

h2 {
  font-size: $font-size-lg;
  font-weight: 700;
}

.wrapper {
  margin: 40px auto;
  max-width: 1000px;

  @media (max-width: 991.98px) {
    width: 100%;
    padding: 0 32px;
  }

  @media (max-width: 765.98px) {
    padding: 0 24px;
  }

  @media (max-width: 575.98px) {
    padding: 0 12px;
  }
}

.typing-test {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 20px;
  border-radius: 20px;
  background-color: white;
  padding: 30px 40px;

  @media (max-width: 765.98px) {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }

  &__header {
    grid-column: 1/3;

    @media (max-width: 765.98px) {
      grid-column: auto;
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
    color: $cl-gray-500;
  }

  &__text {
    font-size: $font-size-md;
    line-height: 1.6;
  }

  &__symbol {
    &_active {
      padding: 4px 2px;
      color: $cl-white;
      border-radius: 3px;
      background-color: $cl-correct;
    }

    &_correct {
      color: $cl-correct;
    }

    &_wrong {
      background-color: $cl-wrong;
    }
  }

  &__stats-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 4px;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      margin-bottom: 1px;
    }

    &:hover {
      background-color: $cl-gray-100;
    }
  }
}

.stats {
  margin-bottom: 12px;

  &__item {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 8px;
  }
}

// === /COMMONS ===
